.grid2 {
  display: grid;
  margin: 3rem 0;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);

  @media screen and (width >= 868px) {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid3 {
  display: grid;
  margin: 3rem 0;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);

  @media screen and (width >= 868px) {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width >= 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
